
{
  admin :2019
  metrics
}
:80 {
  # Set this path to your site's directory.
  #root * /usr/share/caddy
  # Enable the static file server.
  #file_server


  # Another common task is to set up a reverse proxy:
  reverse_proxy / {

    to http://webapp-01:80 http://webapp-02:80 http://webapp-03:80 
    lb_policy round_robin
    
    header_up Host {host}  
    header_up X-Forwarded-For {remote}  
    header_up X-Forwarded-Proto {scheme}  
    header_up X-Real-IP {remote}  
    header_up Origin {http.request.header.Origin}  
    header_up Sec-WebSocket-Protocol {http.request.header.Sec-WebSocket-Protocol}  
    header_up Sec-WebSocket-Version {http.request.header.Sec-WebSocket-Version} 
  }

  # Or serve a PHP site through php-fpm:
  # php_fastcgi localhost:9000
}